* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  width: 960px;
  height: 960px;
  display: flex;
  flex-wrap: wrap;
}

.square {
  flex: initial;
  border: 1px solid black;
}
