* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#container {
  width: 960px;
  display: flex;
  flex-wrap: wrap;
}

.child {
  flex: 1 1 60px;
  border: 1px solid black;
  aspect-ratio: 1;
}
